<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="bikeweight" value="8.5" /> <!-- bike weight in kilograms -->
    <add key="riderweight" value="70.0" /> <!-- rider weight in kilograms -->
    <add key="wheelsize" value="672" /> <!-- standard 700x23c = 672mm outer diameter -->
    <add key="cda" value="0.3" /> 
    <add key="cxx" value="0.001" />
    <add key="ridermodel" value="bikephysics" />
	<add key="minsimulatedgrade" value="-15.0"/> <!-- raise this if your equipment is too loud when going fast -->
	<add key="maxsimulatedgrade" value="25.0"/> <!-- lower this to save your knees in steep hills -->
    <add key="cp" value="250" /> <!-- critical / threshold power = FTP (used for workout "scaling") -->
  </appSettings>
</configuration>