<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="bikeweight" value="7.5" />
    <add key="riderweight" value="63.0" />
    <add key="wheelsize" value="672" />
    <add key="cda" value="0.3" />
    <add key="cxx" value="0.001" />
    <add key="ridermodel" value="bikephysics" />
    <add key="minsimulatedgrade" value="-15.0"/>
    <!-- raise this if your equipment is too loud when going fast -->
    <add key="maxsimulatedgrade" value="25.0"/>
    <!-- lower this to save your knees in steep hills -->
    <add key="cp" value="290" />

    <add key="bike_power_device" value="18589"/>
    <!-- Use this if you want to connect to a specific ant+ device. 0 means no restriction, it will connect to the first device found. -1 means disabled sensor -->
    <add key="speed_cadence_device" value="0"/>
    <add key="fec_device" value="0"/>
    <add key="cadence_device" value="0"/>
    <add key="hrm_device" value="0"/>
  
    <add key="power_source" value="bp"/>
    <!-- Choose power source if multiple are present -->
  </appSettings>
</configuration>