<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- user settings -->
    <add key="bikeweight"  value="8.5" />   <!-- bike weight in kilograms -->
    <add key="riderweight" value="70.0" />  <!-- rider weight in kilograms -->
    <add key="cp"          value="250" />   <!-- critical power = CP60 = FTP, used for workout scaling -->
    
    <!-- smart HT overrides -->
    <add key="minsimulatedgrade" value="-15.0"/> <!-- min. simulated downhill incline (raise if equipment is loud at high speed) -->
    <add key="maxsimulatedgrade" value="25.0"/>  <!-- max. simulated uphill incline (lower if gearing is unsuited for steep hills) -->
    
    <!-- simulation parameters -->
    <add key="wheelsize"             value="672" />   <!-- wheel diameter in millimeters -->
    <add key="cda"                   value="0.3" />   <!-- air resistance coefficient * frontal area -->
    <add key="cxx"                   value="0.001" /> <!-- coefficient of rolling resistance -->
    <add key="drivetrain_efficiency" value="0.975" /> <!-- drive train efficiency -->

    <!-- simulation model -->
    <!-- allowed values: -->
    <!--   bikephysics     simulate speed with internal model using above parameters -->
    <!--   fec             retrieve simulated speed from smart HT -->
    <add key="ridermodel" value="bikephysics" />
    
    <!-- ANT+ device configuration. -->
    <!-- allowed values: -->
    <!--   0           connect to any sensor within range (default) -->
    <!--  -1           disable sensor -->
    <!--  <device ID>  restrict to a specific sensor (device ID is usually 6 digits) -->
    <add key="fec_device"           value="-1"/> <!-- smart home trainer -->
    <add key="bike_power_device"    value="18589"/> <!-- power meter -->
    <add key="speed_cadence_device" value="18589"/> <!-- speed/cadence sensor -->
    <add key="cadence_device"       value="18589"/> <!-- cadence sensor -->
    <add key="hrm_device"           value="-1"/> <!-- heart rate monitor -->

    <!-- how long (seconds) without message to consider sensor value outdated. Raise if connectivity is poor -->
    <add key="sensor_value_lifespan" value="2.5"/>
    
    <!-- power source choice. Note: if chosen power source is not found, it will default to the other -->
    <!-- allowed values: -->
    <!--   bp     use power meter as power source -->
    <!--   fec    use smart home trainer as power source -->
    <add key="power_source" value="bp"/>
    
  </appSettings>
</configuration>